@import './var.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('material-design-icons'), local('MaterialIcons-Regular');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.markdown-body {
  margin-top: 32px;
  text-align: left;

  pre {
    max-width: max-content;
  }
}

.demo-block {
  padding: 50px 0;
  font-size: 16px;
  scroll-behavior: smooth;

  .demo-title:first-child {
    font-size: 32px;
    font-weight: 600;
    color: #1f2f3d;

    &+.demo-subtitle {
      margin-top: 14px;
      display: inline-block;
      color: #5e6d82;
      line-height: 1.5em;

      &+.demo-row {
        margin-top: 28px;
      }
    }
  }

  .demo-row {
    display: block;
    min-width: 420px;

    &:not(:last-child) {
      margin-top: 14px;
    }

    .demo-row-subtitle:first-child {
      margin-bottom: 16px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #1f2f3d;
      line-height: 1.5em;

      &+span {
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
      }
    }

    .demo-row-content {
      padding-top: 16px;
    }

    .row-item {
      display: flex;
      font-size: 14px;

      .row-item-subtitle:first-child {
        margin: 8px 8px 8px 0;
      }
    }
  }

  .btn {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .demo-nav-wrapper {
    display: none;
    position: fixed;
    top: 128px;
    right: 5%;

    .demo-nav-item {
      position: relative;
      cursor: pointer;
      color: $disabled-color;

      &:not(:last-child) {
        margin-bottom: $l-offset;
      }

      &.is-active {
        color: $success-color;

        &::before {
          box-sizing: content-box;
          position: absolute;
          top: 1px;
          left: -4px;
          content: "";
          width: 4px;
          height: 100%;
          border-left: 2px solid $success-color;
        }
      }
    }
  }

  @media screen and (min-width: 1180px) {
    .demo-nav-wrapper {
      display: block;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #dfe2e5;
}

/* font chart */

.c-size-s {
  font-size: $font-size-s;
}

.c-size-m {
  font-size: $font-size-m;
}

.c-size-l {
  font-size: $font-size-l;
}

.c-bold {
  font-weight: 600;
}

/* transition effect */
@mixin transition-effect($val) {
  transition: opacity $val, transform $val, left $val, right $val, top $val,
    bottom $val;
}

.fade-enter-active,
.fade-leave-active {
  @include transition-effect(0.3s);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.move-enter-active {
  transition: opacity .5s, transform .5s;
}
.move-leave-active {
  opacity: 0;
}
.move-enter {
  transform: translateX(20%);
  opacity: 0;
}

/* end */

.breadcrumb {
  display: flex;
  align-items: center;

  .separator {
    display: inline-block;
    margin: 0 $s-offset;
    font-weight: 700;
    color: #c0c4cc;
    font-size: 0.8em;
  }

  .breadcrumb-item {
    color: #1f2f3d;
    text-decoration: none;

    &:hover {
      color: $success-color;
      cursor: pointer;
    }

    &.router-link-active {
      font-weight: 600;
    }
  }
}
