@import './var.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('material-design-icons'), local('MaterialIcons-Regular');
}

@font-face {
  font-family: 'MontBold';
  src: url('/static/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('/static/fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/static/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.markdown-body {
  margin-top: 32px;
  text-align: left;

  pre {
    max-width: max-content;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(144, 147, 153, 0.3);
}

/* font chart */

.c-size-s {
  font-size: $font-size-s;
}

.c-size-m {
  font-size: $font-size-m;
}

.c-size-l {
  font-size: $font-size-l;
}

.c-normal {
  font-family: Mont;
}

.c-bold {
  font-family: MontBold;
  font-weight: 800;
}

.c-color-normal {
  color: $font-color;
}

.c-color-success {
  color: $success-color;
}

/* text-type */
.t-none-decoration {
  text-decoration: none;
}

/* position-type */
.p-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/* transition effect */
@mixin transition-effect($val) {
  transition: opacity $val, transform $val, left $val, right $val, top $val,
    bottom $val;
}

.fade-enter-active,
.fade-leave-active {
  @include transition-effect(0.3s);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.move-enter-active {
  transition: opacity .5s, transform .5s;
}

.move-leave-active {
  opacity: 0;
}

.move-enter {
  transform: translateX(20%);
  opacity: 0;
}

/* end */

input {

  /* input placeholder style */
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
  }
}

code {
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}
