$primary-color: #92cc41;
$success-color: #209cee;
$warn-color: #f7d51d;
$error-color: #e76e55;
$disabled-color: #c0c4cc;
$main-color: #ccc;
$font-color: rgba(0, 0, 0, 0.65);
$hover-color: rgba(0, 0, 0, 0.1);

$s-offset: 8px;
$m-offset: 12px;
$l-offset: 16px;
$xl-offset: 18px;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;

$base-radius: 4px;